<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.0.1

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [7]:
connection_string = "mongodb+srv://nphansen:yR7vkYo2sWAU&2viitLK@cluster0.cv56w.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

In [8]:
client = MongoClient(connection_string)

In [9]:
db = client.test
collection = db.people
collection.drop()

Create a new database:

In [10]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [11]:
print(client.list_database_names())

['admin', 'local']

In [13]:
type(client.list_database_names())

list

- check for the database by name:

In [17]:
dblist = client.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")
else:
    print("The database doesn't exist.")

The database doesn't exist.

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [18]:
mycol = client.mydatabase.customers

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [19]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [21]:
dblist = client.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")
else:
    print("The database doesn't exist.")

The database exists.

List all collections in the database:

In [25]:
dblist

['mydatabase', 'admin', 'local']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [29]:
mydict = {"name": "Peter", "address": "Lowstreet 27"}

x = mycol.insert_one(mydict)

print(x.inserted_id)

61e0bd662f023eee518aa80b

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [30]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [31]:
x = mycol.insert_many(documents = mylist)

Print a list of the _id values of the inserted documents:

In [32]:
print(x.inserted_ids)

[ObjectId('61e0bda82f023eee518aa80c'), ObjectId('61e0bda82f023eee518aa80d'), ObjectId('61e0bda82f023eee518aa80e'), ObjectId('61e0bda82f023eee518aa80f'), ObjectId('61e0bda82f023eee518aa810'), ObjectId('61e0bda82f023eee518aa811'), ObjectId('61e0bda82f023eee518aa812'), ObjectId('61e0bda82f023eee518aa813'), ObjectId('61e0bda82f023eee518aa814'), ObjectId('61e0bda82f023eee518aa815'), ObjectId('61e0bda82f023eee518aa816'), ObjectId('61e0bda82f023eee518aa817')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [33]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [34]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 14}, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }'}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [35]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('61e0bc822f023eee518aa809'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [37]:
x = mycol.find_one(filter = {"name": "Hannah"})
print(x)

{'_id': ObjectId('61e0bda82f023eee518aa80d'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [38]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('61e0bc822f023eee518aa809'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61e0bd572f023eee518aa80a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e0bd662f023eee518aa80b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e0bda82f023eee518aa80c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e0bda82f023eee518aa80d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e0bda82f023eee518aa80f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e0bda82f023eee518aa810'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e0bda82f023eee518aa811'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e0bda82f023eee518aa812'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e0bda82f023eee518aa814'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e0bda82f023eee518aa815'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e0bda82f023eee518aa816'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e0bda82f023eee518aa817'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [39]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [42]:
for x in mycol.find({},{"_id": 1, "name": 1}):
    print(x)

{'_id': ObjectId('61e0bc822f023eee518aa809'), 'name': 'John'}
{'_id': ObjectId('61e0bd572f023eee518aa80a'), 'name': 'Peter'}
{'_id': ObjectId('61e0bd662f023eee518aa80b'), 'name': 'Peter'}
{'_id': ObjectId('61e0bda82f023eee518aa80c'), 'name': 'Amy'}
{'_id': ObjectId('61e0bda82f023eee518aa80d'), 'name': 'Hannah'}
{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael'}
{'_id': ObjectId('61e0bda82f023eee518aa80f'), 'name': 'Sandy'}
{'_id': ObjectId('61e0bda82f023eee518aa810'), 'name': 'Betty'}
{'_id': ObjectId('61e0bda82f023eee518aa811'), 'name': 'Richard'}
{'_id': ObjectId('61e0bda82f023eee518aa812'), 'name': 'Susan'}
{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky'}
{'_id': ObjectId('61e0bda82f023eee518aa814'), 'name': 'Ben'}
{'_id': ObjectId('61e0bda82f023eee518aa815'), 'name': 'William'}
{'_id': ObjectId('61e0bda82f023eee518aa816'), 'name': 'Chuck'}
{'_id': ObjectId('61e0bda82f023eee518aa817'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [79]:
myquery = { "address": { "$gt": "S" } }
#excluding id column
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e0bda82f023eee518aa811'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e0bda82f023eee518aa817'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [52]:
#gt shows greater than matches
myquery = { "address": { "$gt": "Sideway 1633" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e0bda82f023eee518aa811'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [54]:
#gte shows greater than or equal matches
myquery = { "address": { "$gte": "Sideway 1633" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e0bda82f023eee518aa811'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e0bda82f023eee518aa817'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [63]:
#eq shows matching
myquery = { "address": { "$eq": "Yellow Garden 2" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [65]:
#in shows documents matching items list 
myquery = { "address": { "$in": ["Sky st 331","Yellow Garden 2"] } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e0bda82f023eee518aa811'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e0bda82f023eee518aa813'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [67]:
#nin shows documents not matching items list 
myquery = { "address": { "$nin": ["Sky st 331","Yellow Garden 2"] } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e0bc822f023eee518aa809'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61e0bd572f023eee518aa80a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e0bd662f023eee518aa80b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e0bda82f023eee518aa80c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e0bda82f023eee518aa80d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e0bda82f023eee518aa80f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e0bda82f023eee518aa810'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e0bda82f023eee518aa812'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e0bda82f023eee518aa814'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e0bda82f023eee518aa815'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e0bda82f023eee518aa816'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e0bda82f023eee518aa817'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [80]:
myquery = {"address": {"$regex": "^S"},}
mydoc = mycol.find(myquery,{"_id": 0})
for x in mydoc:
    print(x)

{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [100]:
mydoc = mycol.find({},{"_id": False}).sort("name")
for x in mydoc:
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [101]:
mydoc = mycol.find({},{"_id": False}).sort("name",-1)
for x in mydoc:
    print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [102]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [106]:
mycol.delete_many({
    "$and": [
        {"_id": {"$gte": 10}},
        {"_id": {"$lt": 100}}
    ]
})

for x in mycol.find({},{"_id": True}):
    print(x)

{'_id': ObjectId('61e0bc822f023eee518aa809')}
{'_id': ObjectId('61e0bd572f023eee518aa80a')}
{'_id': ObjectId('61e0bd662f023eee518aa80b')}
{'_id': ObjectId('61e0bda82f023eee518aa80c')}
{'_id': ObjectId('61e0bda82f023eee518aa80e')}
{'_id': ObjectId('61e0bda82f023eee518aa80f')}
{'_id': ObjectId('61e0bda82f023eee518aa810')}
{'_id': ObjectId('61e0bda82f023eee518aa811')}
{'_id': ObjectId('61e0bda82f023eee518aa812')}
{'_id': ObjectId('61e0bda82f023eee518aa813')}
{'_id': ObjectId('61e0bda82f023eee518aa814')}
{'_id': ObjectId('61e0bda82f023eee518aa815')}
{'_id': ObjectId('61e0bda82f023eee518aa816')}
{'_id': ObjectId('61e0bda82f023eee518aa817')}
{'_id': 1}
{'_id': 2}
{'_id': 3}
{'_id': 4}
{'_id': 5}
{'_id': 6}
{'_id': 7}
{'_id': 8}
{'_id': 9}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [126]:
mydict = {"$set": {"address": "Canyon 123"}}
mycol.update_one(filter = {"address": "Valley 345"}, update = mydict)
for x in mycol.find({"address": "Canyon 123"}):
    print(x)

{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [124]:
mylimit = mycol.find().limit(5)
for x in mylimit:
    print(x)

{'_id': ObjectId('61e0bc822f023eee518aa809'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61e0bd572f023eee518aa80a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e0bd662f023eee518aa80b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e0bda82f023eee518aa80c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e0bda82f023eee518aa80e'), 'name': 'Michael', 'address': 'Canyon 123'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [127]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [128]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [133]:
#os.chdir("dat")

In [134]:
pwd()

'/Users/nicolai/Documents/Education/Data Scientist/DS_AI/Lab 3'

In [148]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport --uri="mongodb+srv://nphansen:yR7vkYo2sWAU&2viitLK@cluster0.cv56w.mongodb.net/test" -c=people --file="/Users/nicolai/Documents/Education/Data Scientist/DS_AI/DATA/dummyData.json"')

2022-01-14T16:02:56.013+1100	connected to: localhost
2022-01-14T16:02:56.252+1100	imported 100 documents

0

In [142]:
os.chdir("Lab 3")

In [143]:
pwd()

'/Users/nicolai/Documents/Education/Data Scientist/DS_AI/Lab 3'

In [149]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('61e103f4fc36e5db983c2498'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('61e103f4fc36e5db983c2452'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('61e103f4fc36e5db983c2472'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [150]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [151]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,61e103f4fc36e5db983c244d,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,61e103f4fc36e5db983c248b,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,61e103f4fc36e5db983c249c,"Mayer, Violet U.",53,China,"40, 95"
3,61e103f4fc36e5db983c249f,"Carney, Tamekah I.",57,China,"45.75, 126.6333"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [152]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version 0.12.1.post1

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>



---



---



> > > > > > > > >  2021 Institute of Data


---



---