In [1]:
#import library
import sqlite3
#create object
sqlite_db = 'test_db.sqlite'
#open connection to db
conn = sqlite3.connect(sqlite_db)
#create cursor
c = conn.cursor()

In [10]:
# A
last_sale = (None, 4000, 5, 22, 619000)

# Execute Command
c.execute('INSERT INTO houses VALUES (?,?,?,?,?)', last_sale)

# Remember to commit the changes
conn.commit()

In [8]:
# A
recent_sales = [
  (None, 2390, 4, 34, 319000),
  (None, 1870, 3, 14, 289000),
  (None, 1505, 3, 90, 269000),
]

# Nb. The "?" parameters are placeholders for data that will map to the table columns during insertion;
# this is a security measure against SQL injection attacks:
# 


conn.commit()

In [12]:
test = c.execute('Select * FROM houses')

In [16]:
c.fetchall()

[(1, 4000, 5, 22, 619000),
 (2, 2390, 4, 34, 319000),
 (3, 1870, 3, 14, 289000),
 (4, 1505, 3, 90, 269000)]

In [17]:
conn.close()

In [18]:
c.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
a