In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'X':[78,85,96,80,86],  'Y':[84,94,89,83,86], 'Z':[86,97,96,72,83]})

In [3]:
print (df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [4]:
s = pd.Series([2, 4, 6, 8, 10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
df2 = pd.DataFrame(np.random.rand(20,5))

In [6]:
my_list = [1,2,3,4]

In [22]:
s2 = pd.Series(my_list)

In [9]:
df2.index = pd.date_range('1900/1/30',periods=df2.shape[0])

In [10]:
print(df2)

                   0         1         2         3         4
1900-01-30  0.459966  0.211842  0.058719  0.101351  0.124305
1900-01-31  0.010894  0.811726  0.367657  0.965921  0.985529
1900-02-01  0.749436  0.946895  0.156742  0.886261  0.825862
1900-02-02  0.498245  0.697972  0.843764  0.694627  0.737640
1900-02-03  0.287825  0.346197  0.976543  0.361267  0.202233
1900-02-04  0.807026  0.219802  0.614898  0.255808  0.623173
1900-02-05  0.686326  0.638692  0.833199  0.702565  0.731775
1900-02-06  0.691222  0.302948  0.893286  0.565482  0.410185
1900-02-07  0.779392  0.383352  0.872147  0.858216  0.682578
1900-02-08  0.584861  0.345372  0.235243  0.054829  0.505860
1900-02-09  0.153471  0.870413  0.519043  0.728907  0.112239
1900-02-10  0.136935  0.867623  0.411071  0.427248  0.390583
1900-02-11  0.947149  0.161509  0.921043  0.317235  0.581176
1900-02-12  0.004302  0.262514  0.379184  0.289333  0.635831
1900-02-13  0.853379  0.896661  0.651496  0.466804  0.532817
1900-02-14  0.485954  0.531668  0.956469  0.372318  0.468649
1900-02-15  0.633987  0.052247  0.197112  0.560890  0.635375
1900-02-16  0.129797  0.826043  0.732374  0.136410  0.665504
1900-02-17  0.692031  0.320371  0.250227  0.651735  0.614616
1900-02-18  0.496996  0.619787  0.927775  0.703233  0.745134

In [14]:
df2.head(10)

                   0         1         2         3         4
1900-01-30  0.459966  0.211842  0.058719  0.101351  0.124305
1900-01-31  0.010894  0.811726  0.367657  0.965921  0.985529
1900-02-01  0.749436  0.946895  0.156742  0.886261  0.825862
1900-02-02  0.498245  0.697972  0.843764  0.694627  0.737640
1900-02-03  0.287825  0.346197  0.976543  0.361267  0.202233
1900-02-04  0.807026  0.219802  0.614898  0.255808  0.623173
1900-02-05  0.686326  0.638692  0.833199  0.702565  0.731775
1900-02-06  0.691222  0.302948  0.893286  0.565482  0.410185
1900-02-07  0.779392  0.383352  0.872147  0.858216  0.682578
1900-02-08  0.584861  0.345372  0.235243  0.054829  0.505860

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 1900-01-30 to 1900-02-18
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
dtypes: float64(5)
memory usage: 960.0 bytes

In [15]:
df2.tail(10)

                   0         1         2         3         4
1900-02-09  0.153471  0.870413  0.519043  0.728907  0.112239
1900-02-10  0.136935  0.867623  0.411071  0.427248  0.390583
1900-02-11  0.947149  0.161509  0.921043  0.317235  0.581176
1900-02-12  0.004302  0.262514  0.379184  0.289333  0.635831
1900-02-13  0.853379  0.896661  0.651496  0.466804  0.532817
1900-02-14  0.485954  0.531668  0.956469  0.372318  0.468649
1900-02-15  0.633987  0.052247  0.197112  0.560890  0.635375
1900-02-16  0.129797  0.826043  0.732374  0.136410  0.665504
1900-02-17  0.692031  0.320371  0.250227  0.651735  0.614616
1900-02-18  0.496996  0.619787  0.927775  0.703233  0.745134

In [17]:
df2.shape

(20, 5)

In [21]:
df2.iloc[:10,0]

1900-01-30    0.459966
1900-01-31    0.010894
1900-02-01    0.749436
1900-02-02    0.498245
1900-02-03    0.287825
1900-02-04    0.807026
1900-02-05    0.686326
1900-02-06    0.691222
1900-02-07    0.779392
1900-02-08    0.584861
Freq: D, Name: 0, dtype: float64

In [24]:
s2.loc[2]

3

In [25]:
s2.iloc[2]

3

In [26]:
df2.iloc[0,:]

0    0.459966
1    0.211842
2    0.058719
3    0.101351
4    0.124305
Name: 1900-01-30 00:00:00, dtype: float64